
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Profile</h2>


<!------ Include the above in your HEAD tag ---------->
@{            String username= (String) Session["user"];
    weblogbook.Models.SDEntities sddb = new weblogbook.Models.SDEntities();
    weblogbook.Models.User user = sddb.Users.Where(usr => usr.username.Equals(username)).First();

    int totalPost, totalFollower, totalFollowing;

    totalPost = sddb.Articles.Where(me => me.writer_email.Equals(user.email)).Count();
    totalFollower = 0;

}
<div class="container">
    <div class="row">
        <h1>@user.fullname</h1>
        <p>@user.email</p>
        <!-- code start -->
        <div class="container">

            <div>




                <div class="container-fluid bg-dark text-white">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <span>Posts : </span> <span>@totalPost</span>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <span>Follower : </span> <span>@totalFollower</span>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <span>Following : </span> <span>@totalFollower</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- code end -->

    </div>

    <hr />

    <h2>My Posts : </h2>
    <div class="album py-5 bg-transparent">
        <div class="container">

            <div class="row">
                @foreach (var i in sddb.Articles.Where(mine=>mine.writer_email.Equals(user.email)))
                {

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow bg-transparent text-white">
                            <img class="card-img-top" onerror="this.src = '';" display: block;" src="@i.image" data-holder-rendered="true">
                            <div class="card-body">
                                <h4 class="card-title">@i.title</h4>
                                <p class="card-text">@i.articleBody</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    @{TimeSpan ts = ((DateTime.Now - (DateTime)i.createdAt));
                                    }
                                    <small class="text-muted"> @string.Format("{0:%d}d {0:%h}h {0:%m}min {0:%s}sec", ts)</small>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

